# Verification au 05-12-2025 16:00

| Table des matiÃ¨res            | Description                                             |
|-------------------------------|---------------------------------------------------------|
| :a: [Presence](#a-presence)   | L'Ã©tudiant.e a accÃ¨s Ã  son partage SMB :heavy_check_mark: |
| :b: [Precision](#b-precision) | Statut du partage SMB                                   |

## :b: Precision

| # | Etudiant | VM/Serveur | Partage SMB | Statut |
|---|----------|------------|------------|--------|
| 1 | Etudiant1 | 10.7.236.194 | \\10.7.236.194\SharedResources | :heavy_check_mark: |
| 2 | Etudiant1 | 10.7.236.196 | \\10.7.236.196\SharedResources | :heavy_check_mark: |
| 3 | Etudiant1 | 10.7.236.197 | \\10.7.236.197\SharedResources | :heavy_check_mark: |
| 4 | Etudiant1 | 10.7.236.198 | \\10.7.236.198\SharedResources | :no_entry: |
| 5 | Etudiant1 | 10.7.236.199 | \\10.7.236.199\SharedResources | :no_entry: |
| 6 | Etudiant1 | 10.7.236.200 | \\10.7.236.200\SharedResources | :no_entry: |
| 7 | Etudiant1 | 10.7.236.201 | \\10.7.236.201\SharedResources | :no_entry: |
| 8 | Etudiant1 | 10.7.236.202 | \\10.7.236.202\SharedResources | :no_entry: |
| 9 | Etudiant1 | 10.7.236.203 | \\10.7.236.203\SharedResources | :no_entry: |
| 10 | Etudiant1 | 10.7.236.204 | \\10.7.236.204\SharedResources | :heavy_check_mark: |
| 11 | Etudiant1 | 10.7.236.205 | \\10.7.236.205\SharedResources | :no_entry: |
| 12 | Etudiant1 | 10.7.236.206 | \\10.7.236.206\SharedResources | :no_entry: |
| 13 | Etudiant1 | 10.7.236.207 | \\10.7.236.207\SharedResources | :no_entry: |
| 14 | Etudiant1 | 10.7.236.208 | \\10.7.236.208\SharedResources | :heavy_check_mark: |
| 15 | Etudiant1 | 10.7.236.209 | \\10.7.236.209\SharedResources | :heavy_check_mark: |
| 16 | Etudiant1 | 10.7.236.210 | \\10.7.236.210\SharedResources | :heavy_check_mark: |
| 17 | Etudiant1 | 10.7.236.211 | \\10.7.236.211\SharedResources | :heavy_check_mark: |
| 18 | Etudiant1 | 10.7.236.212 | \\10.7.236.212\SharedResources | :no_entry: |
| 19 | Etudiant1 | 10.7.236.213 | \\10.7.236.213\SharedResources | :heavy_check_mark: |
| 20 | Etudiant1 | 10.7.236.214 | \\10.7.236.214\SharedResources | :heavy_check_mark: |
| 21 | Etudiant1 | 10.7.236.215 | \\10.7.236.215\SharedResources | :no_entry: |
| 22 | Etudiant1 | 10.7.236.216 | \\10.7.236.216\SharedResources | :no_entry: |
| 23 | Etudiant1 | 10.7.236.218 | \\10.7.236.218\SharedResources | :no_entry: |
| 24 | Etudiant1 | 10.7.236.219 | \\10.7.236.219\SharedResources | :no_entry: |
| 25 | Etudiant1 | 10.7.236.221 | \\10.7.236.221\SharedResources | :heavy_check_mark: |
| 26 | Etudiant1 | 10.7.236.220 | \\10.7.236.220\SharedResources | :heavy_check_mark: |
| 27 | Etudiant1 | 10.7.236.217 | \\10.7.236.217\SharedResources | :heavy_check_mark: |
| 28 | Etudiant1 | 10.7.236.222 | \\10.7.236.222\SharedResources | :no_entry: |
| 29 | Etudiant1 | 10.7.236.223 | \\10.7.236.223\SharedResources | :no_entry: |
| 30 | Etudiant1 | 10.7.236.224 | \\10.7.236.224\SharedResources | :heavy_check_mark: |
